/Library
/Logs
/Temp
/Assembly-CSharp.csproj
/New Unity Project (1).sln
/.idea
/obj
/Unity-UGUI-InfiniteLoopScrollList.sln
/ProjectSettings/ProjectVersion.txt
/.vs/LoopScrollList/v16/.suo
/.vsconfig
/Assembly-CSharp.Player.csproj
/LoopScrollList.sln
/Unity.2D.Sprite.Editor.csproj
/Unity.2D.Tilemap.Editor.csproj
/Unity.Analytics.DataPrivacy.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.SpatialTracking.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.XR.LegacyInputHelpers.csproj
/UnityEngine.Advertisements.csproj
/UnityEngine.Monetization.csproj
/UnityEngine.SpatialTracking.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/UnityEngine.XR.LegacyInputHelpers.csproj
/com.unity.multiplayer-hlapi.Editor.csproj
/com.unity.multiplayer-hlapi.Runtime.csproj
/com.unity.multiplayer-weaver.Editor.csproj
/*.sln
